<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="@{master/base.html}">

<div layout:fragment="content">
	
</div>

</html>
<!--  
	<div class="row mb-2">
		<div class="col-sm-6">
			<h1 class="m-0 text-dark">Cadastro de Cliente</h1>
		</div>
		<div class="col-sm-6 mt-3">
			<ol class="breadcrumb float-sm-right">
				<li class="breadcrumb-item"><a href="#">Home</a></li>
				<li class="breadcrumb-item active">Menu Ativo</li>
			</ol>
		</div>
		<div class="col-lg-8">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 m-t-12">
						<form role="form">
							<div class="form-group">
								<label for="Nome"> Nome: </label> <input class="form-control" id="Nome" />
							</div>
							<div class="form-group">
								<label for="Sobrenome"> Sobrenome: </label> <input
									class="form-control" id="Sobrenome" />
							</div>
							<div class="form-group">
								<label for="Email"> E-Mail: </label> <input class="form-control" id="Email" />
							</div>
							<div class="row">
								<div class="col-sm-2">
									<div class="form-group">
										<label for="EstadoNatal"> Estado Natal: </label> <select
											class="form-control">
											<option>1</option>
											<option>2</option>
											<option>3</option>
										</select>
									</div>
								</div>
								<div class="col-sm-10">
									<div class="form-group">
										<label for="CidadeNatal"> Cidade Natal: </label> <select
											class="form-control">
											<option>1</option>
											<option>2</option>
											<option>3</option>
										</select>
									</div>
								</div>
								<div class="col-sm-12">
									<div class="form-group">
										<label for=""> Naturalidade: </label> <select
											class="form-control">
											<option>1</option>
											<option>2</option>
											<option>3</option>
										</select>
									</div>
								</div>
								<div class="col-sm-2">
									<div class="form-group">
										<label for="EstadoNatal"> Sexo: </label> <select
											class="form-control">
											<option>1</option>
											<option>2</option>
											<option>3</option>
										</select>
									</div>
								</div>
								<div class="col-sm-10">
									<div class="form-group">
										<label for="CidadeNatal"> Estado Civil: </label> <select
											class="form-control">
											<option>1</option>
											<option>2</option>
											<option>3</option>
										</select>
									</div>
								</div>
								<div class="col-sm-2">
									<div class="form-group">
										<label for="EstadoNatal"> Nacionalidade: </label> <select
											class="form-control">
											<option>1</option>
											<option>2</option>
											<option>3</option>
										</select>
									</div>
								</div>
								<div class="col-sm-10">
									<div class="form-group">
										<label for="CidadeNatal"> Grau de Instrução: </label> <select
											class="form-control">
											<option>1</option>
											<option>2</option>
											<option>3</option>
										</select>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="form-group">
										<label for="EstadoNatal"> Telefone: </label> <input
											class="form-control" id="Sobrenome" />
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="CidadeNatal"> Telefone Complementar: </label> <input
											class="form-control" id="Sobrenome" />
									</div>
								</div>
							</div>
							<button type="submit" class="btn btn-primary">Enviar</button>
							<button type="reset" class="btn btn-danger">Cancelar</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
-->