<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{master/base}">
<h3 layout:fragment="page-title">Clientes</h3>
<h3 layout:fragment="form-title">Cadastro</h3>
<div layout:fragment="content">
	<button class="btn btn-sm btn-success" type="button" onclick="window.location.href='/cliente/novo'">Novo Cliente</button>
	<hr></hr>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Sobrenome</th>
				<th>CPF</th>
				<th>Telefone</th>
				<th>E- mail</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${clientes.empty}">
				<td colspan="2">Sem Clientes Cadastrados</td>
			</tr>
			<tr th:each="cliente : ${clientes}"
				th:if="${cliente.isAtivo != false}">
				<td><span th:text="${cliente.nome}"> </span></td>
				<td><span th:text="${cliente.sobrenome}"> </span></td>
				<td><span th:text="${cliente.CPF}"> </span></td>
				<td><span th:text="${cliente.telefonePrincipal}"> </span></td>
				<td><span th:text="${cliente.email}"> </span></td>
				<td style="text-align: center">
					<button class="btn btn-sm btn-warning" type="button"
						th:attr="onclick = ${'editarCliente(' + cliente.id + ')'}">Editar</button>
					<button class="btn btn-sm btn-danger" type="button"
						th:attr="onclick = ${'modalRemover(' + cliente.id + ')'}">Excluir</button>
					<button class="btn btn-sm btn-success" type="button"
						th:attr="onclick = ${'converterLead(' + cliente.id + ',' + 2 +')'}">Converter
						Inscrito</button>
					<button class="btn btn-sm btn-primary" type="button"
						th:attr="onclick = ${'converterLead(' + cliente.id + ',' + 5 + ')'}">Converter
						Pendente</button>
				</td>
			</tr>
		</tbody>
	</table>
	<nav aria-label="Paginação" class="mt-2">
		<ul class="pagination">
			<li class="page-item"><a class="page-link" href="#">Anterior</a></li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item"><a class="page-link" href="#">Próximo</a></li>
		</ul>
	</nav>
</div>
</html>